theory/data_flow_redis\.png

# PyCharm stuff 
.idea/
__pycache__/
venv/
*.pyc

# Historic data doesn't need to be committed
data/

src/web_ui_redis\.py

# Machine-specific configuration info
src/conf/cassandra\.json
src/conf/kafka\.json
setup/kafka/kafka-cluster\.yml
setup/kafka/kafka-from-qikai\.yml
setup/spark/spark-master\.yml
setup/spark/spark-workers\.yml
setup/redis/redis\.yml
setup/cassandra/cassandra-master\.yml
setup/cassandra/cassandra-workers\.yml
